@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #074578;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  width: 400px;
  background: #f8f8f8;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  color: white;
  
}


.form-register input {
  width: 100%;
  background: #e2e2e2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  font-family: 'Ubuntu-Medium';
}

.form-register input[type=button] {
  width: 100%;
  background-color: #074578;
  border: none;
  padding: 12px;
  color: #f8f8f8;
  margin: 16px 0;
  font-size: 16px;
}